node_red/Bittle_node_red.json
[
    {
        "id": "40c9fe5c0f60b5d0",
        "type": "tab",
        "label": "Change_Values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1698dfe8bcbde845",
        "type": "tab",
        "label": "Timer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2bfde4946c37a693",
        "type": "tab",
        "label": "Start",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de5c3427eb3aa9c7",
        "type": "tab",
        "label": "Kamera",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "997a46ab2c42fa25",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e11b66b88e7c1c1a",
        "type": "tab",
        "label": "Change_Values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "694fb32518b8351e",
        "type": "tab",
        "label": "Timer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f90472f2bdbcca1d",
        "type": "tab",
        "label": "Start",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb81dc8b2600dc96",
        "type": "tab",
        "label": "Status_anzeige",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "afe2bcd9a89f69ee",
        "type": "tab",
        "label": "Start/Stop Wifi AP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0ffe55d73784c2fe",
        "type": "tab",
        "label": "Change_Values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2011e6f078c8688",
        "type": "tab",
        "label": "Timer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "77a634d64a4a3b55",
        "type": "tab",
        "label": "Start",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b08dfc02489938ac",
        "type": "tab",
        "label": "Status_anzeige",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1ddbf9e3602d728f",
        "type": "tab",
        "label": "Start/Stop Bild",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6bbf12d4048cbee4",
        "type": "tab",
        "label": "Change_Values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "175cf7b1954c7337",
        "type": "tab",
        "label": "Timer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1c9a4e3a5c4be69",
        "type": "tab",
        "label": "Start",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb992aeda39dba3b",
        "type": "tab",
        "label": "Status_anzeige",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa34ea72095b5aea",
        "type": "tab",
        "label": "Start/Stop Bild",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "23160170.77800e",
        "type": "subflow",
        "name": "top",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 100,
                "wires": [
                    {
                        "id": "98a41609.d8efc8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 100,
                "wires": [
                    {
                        "id": "bc97fbbe.cb9318",
                        "port": 1
                    }
                ]
            },
            {
                "x": 620,
                "y": 160,
                "wires": [
                    {
                        "id": "bc97fbbe.cb9318",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 620,
            "y": 40,
            "wires": [
                {
                    "id": "bc97fbbe.cb9318",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "32d61e0f.0490b2",
        "type": "subflow",
        "name": "stderr",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "211d46bf.a79c7a"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 320,
            "y": 120,
            "wires": [
                {
                    "id": "211d46bf.a79c7a",
                    "port": 1
                }
            ]
        }
    },
    {
        "id": "a33a5cbf5a4d1a63",
        "type": "serial-port",
        "serialport": "COM10",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "84eb9bf0e4fdf561",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b8960f08b2fdcb02",
        "type": "ui_group",
        "name": "Standard",
        "tab": "9b98c99ed6d2e914",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "079296185dd69da2",
        "type": "ui_group",
        "name": "Bitle Input",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b98c99ed6d2e914",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ebb34b3136fb470c",
        "type": "serial-port",
        "serialport": "COM10",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "c56b65c652f42eca",
        "type": "ui_group",
        "name": "Start and Stop the Bittle",
        "tab": "6ea8955ef26fad6d",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8de949965437e66",
        "type": "ui_group",
        "name": "Timer 5 Minuten",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6ea8955ef26fad6d",
        "type": "ui_tab",
        "name": "Start",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "99b65c407bab5af0",
        "type": "ui_spacer",
        "z": "2bfde4946c37a693",
        "name": "spacer",
        "group": "a8de949965437e66",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "5b2dbe3a6f738453",
        "type": "ui_group",
        "name": "Treshold",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "82b954ca6fcb77f5",
        "type": "ui_group",
        "name": "Value eingabe",
        "tab": "6ea8955ef26fad6d",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8700a9779e53c3b0",
        "type": "ui_group",
        "name": "Stopuhr",
        "tab": "6ea8955ef26fad6d",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "60b9c858.a9ecdc",
        "type": "ui_group",
        "name": "Start/Stop Bittle",
        "tab": "564a631a.2f096c",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d657f78.0c59f9",
        "type": "ui_group",
        "name": "Timer 5 Minuten",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "564a631a.2f096c",
        "type": "ui_tab",
        "name": "Start",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fc1e21e41a3e4d10",
        "type": "ui_spacer",
        "z": "f90472f2bdbcca1d",
        "name": "spacer",
        "group": "1d657f78.0c59f9",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "b8dc08314662bb39",
        "type": "ui_group",
        "name": "Treshold",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5bd151deb14bfdab",
        "type": "ui_group",
        "name": "Value eingabe",
        "tab": "564a631a.2f096c",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8478555ca06fa3e9",
        "type": "ui_group",
        "name": "Stopuhr",
        "tab": "564a631a.2f096c",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "59cd35de9892c937",
        "type": "ui_group",
        "d": true,
        "name": "Live-übertragung",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a63b29d.f4c81d8",
        "type": "ui_group",
        "name": "Form",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "a102cf1a.5e5e5",
        "type": "ui_group",
        "name": "Video Stream",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "80c7b77c.12d088",
        "type": "ui_group",
        "name": "Video Stream",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "9f75dd89.bf7f78",
        "type": "ui_group",
        "name": "Kamera",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "60018d09cc0e953a",
        "type": "ui_tab",
        "name": "Server",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7ef72d236a7aa62c",
        "type": "ui_group",
        "name": "Server_Start",
        "tab": "60018d09cc0e953a",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a6d9d0bea2f748a",
        "type": "ui_spacer",
        "z": "77a634d64a4a3b55",
        "name": "spacer",
        "group": "1d657f78.0c59f9",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "83712cc2dbdf2ae2",
        "type": "ui_spacer",
        "z": "b1c9a4e3a5c4be69",
        "name": "spacer",
        "group": "1d657f78.0c59f9",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "0224c8d7a7f918c5",
        "type": "ui_tab",
        "name": "Tab 5",
        "icon": "dashboard",
        "order": 5
    },
    {
        "id": "e4f2412d.1b609",
        "type": "exec",
        "z": "23160170.77800e",
        "command": "top -b -d 5 -p",
        "addpay": true,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 329,
        "y": 101,
        "wires": [
            [
                "bc97fbbe.cb9318"
            ],
            [],
            []
        ]
    },
    {
        "id": "bc97fbbe.cb9318",
        "type": "function",
        "z": "23160170.77800e",
        "name": "",
        "func": "const { payload } = msg;\n\nif (typeof payload === 'string') {\n    \n    //node.warn(payload);\n    \n    const lines = payload.toString().trim().split(/[\\n]+/);\n    \n    if (lines.length >= 2) {\n        \n        const labels = lines[lines.length - 2].trim().split(/[\\s]+/);\n\n        const values = lines[lines.length - 1].trim().split(/[\\s]+/);\n        \n        const data = {};\n        \n        for (let i = 0; i < labels.length; ++i) {\n            data[labels[i]] = values[i] || '0.0';\n        }\n        \n        const cpu = data['%CPU'];\n        \n        const mem = data['%MEM'];\n        \n        const text = `%CPU ${cpu}, %MEM ${mem}`;\n        \n        return node.send([{ payload: { fill: 'green', shape: 'dot', text } }, { payload: cpu }, { payload: mem } ]);\n\n    }\n\n}\n\nnode.send({ payload: {} });",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 495,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ],
        "l": false,
        "info": "# minimize top's output in batch mode\n\nrun top in interactive mode (dont use -b)\n\nopen column configuration menu (f) and toggle values\n\nquit (q) menu\n\nconfigure display using (l, t, m) to remove extra\n\nsave configuration (shift + w)\n\nquit (q) top\n\nrun top in batch mode (top -b) to see the changes"
    },
    {
        "id": "98a41609.d8efc8",
        "type": "function",
        "z": "23160170.77800e",
        "name": "",
        "func": "const { payload = {} } = msg;\n\nconst { status, pid } = payload;\n\nconst timeout = context.get('timeout');\n\nclearTimeout(timeout);\n\nif (status === 'spawn') {\n    \n    const timeout = setTimeout(() => node.send({ payload: pid }), 100);\n    \n    context.set('timeout', timeout);\n    \n} else if (status === 'close') {\n    \n    node.send({ payload: 'kill', kill: 'SIGTERM' });\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\n\ncontext.set('timeout', undefined);",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n\nconst timeout = context.get('timeout');\n\nclearTimeout(timeout);\n\ncontext.set('timeout', undefined);",
        "x": 203,
        "y": 101,
        "wires": [
            [
                "e4f2412d.1b609"
            ]
        ],
        "l": false
    },
    {
        "id": "211d46bf.a79c7a",
        "type": "function",
        "z": "32d61e0f.0490b2",
        "name": "stderr",
        "func": "const stderr = msg.payload.toString().split('\\n');\n\nnode.send([{ stderr }, { payload: {fill: 'red', text: `${new Date().toString()}` } } ]);",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 190,
        "y": 73,
        "wires": [
            [
                "c6e5408.f19c4c"
            ],
            []
        ]
    },
    {
        "id": "c6e5408.f19c4c",
        "type": "debug",
        "z": "32d61e0f.0490b2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "stderr",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "df51669b13b9f935",
        "type": "function",
        "z": "40c9fe5c0f60b5d0",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 660,
        "wires": [
            [
                "855475901b549fa8"
            ]
        ]
    },
    {
        "id": "03d8f0f90dc18b6e",
        "type": "debug",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 660,
        "wires": []
    },
    {
        "id": "855475901b549fa8",
        "type": "http request",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.43/update-tresholdvalue",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 660,
        "wires": [
            [
                "03d8f0f90dc18b6e"
            ]
        ]
    },
    {
        "id": "6921f677afbcdc5f",
        "type": "ui_text_input",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "label": "Treshold_value",
        "tooltip": "",
        "group": "c56b65c652f42eca",
        "order": 4,
        "width": 12,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "df51669b13b9f935"
            ]
        ]
    },
    {
        "id": "bba65f700b567233",
        "type": "function",
        "z": "40c9fe5c0f60b5d0",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 960,
        "wires": [
            [
                "deaf53636a914cfa"
            ]
        ]
    },
    {
        "id": "2780d8b1d07a8105",
        "type": "debug",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 960,
        "wires": []
    },
    {
        "id": "deaf53636a914cfa",
        "type": "http request",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.5/update-recovertime ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 960,
        "wires": [
            [
                "2780d8b1d07a8105"
            ]
        ]
    },
    {
        "id": "316d44853d55a9bc",
        "type": "function",
        "z": "40c9fe5c0f60b5d0",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1200,
        "wires": [
            [
                "a47c97396598f023"
            ]
        ]
    },
    {
        "id": "f83f78b4a3c8571a",
        "type": "debug",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1200,
        "wires": []
    },
    {
        "id": "a47c97396598f023",
        "type": "http request",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.1.5/update-obstleftt ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 1200,
        "wires": [
            [
                "f83f78b4a3c8571a"
            ]
        ]
    },
    {
        "id": "e6efd089d70be8af",
        "type": "function",
        "z": "40c9fe5c0f60b5d0",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1440,
        "wires": [
            [
                "c7f33c8e269aa9ae"
            ]
        ]
    },
    {
        "id": "6933e2d9e1ab5390",
        "type": "debug",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1440,
        "wires": []
    },
    {
        "id": "c7f33c8e269aa9ae",
        "type": "http request",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.1.5/update-obststraightt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 1440,
        "wires": [
            [
                "6933e2d9e1ab5390"
            ]
        ]
    },
    {
        "id": "0b2892eefa7770cb",
        "type": "function",
        "z": "40c9fe5c0f60b5d0",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1680,
        "wires": [
            [
                "136c70bcfb31dad5"
            ]
        ]
    },
    {
        "id": "c7a18e2937a81c11",
        "type": "debug",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 1680,
        "wires": []
    },
    {
        "id": "136c70bcfb31dad5",
        "type": "http request",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.1.5/update-obstrightt ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 1680,
        "wires": [
            [
                "c7a18e2937a81c11"
            ]
        ]
    },
    {
        "id": "f84ac15bf5f4832f",
        "type": "function",
        "z": "40c9fe5c0f60b5d0",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1900,
        "wires": [
            [
                "db61a1633fd0b9df"
            ]
        ]
    },
    {
        "id": "84920c5d2251f3f7",
        "type": "debug",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1900,
        "wires": []
    },
    {
        "id": "db61a1633fd0b9df",
        "type": "http request",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.1.5/update-linewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 1900,
        "wires": [
            [
                "84920c5d2251f3f7"
            ]
        ]
    },
    {
        "id": "af2106fb9173b8b3",
        "type": "ui_text_input",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "label": "Line_width",
        "tooltip": "",
        "group": "82b954ca6fcb77f5",
        "order": 5,
        "width": 6,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 90,
        "y": 1900,
        "wires": [
            [
                "f84ac15bf5f4832f"
            ]
        ]
    },
    {
        "id": "5b4eedb549ff7621",
        "type": "function",
        "z": "40c9fe5c0f60b5d0",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2140,
        "wires": [
            [
                "eb6efd633e2e2cf5"
            ]
        ]
    },
    {
        "id": "c1c79e1f2d272bbd",
        "type": "debug",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 2140,
        "wires": []
    },
    {
        "id": "eb6efd633e2e2cf5",
        "type": "http request",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.1.5/update-finlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 2140,
        "wires": [
            [
                "c1c79e1f2d272bbd"
            ]
        ]
    },
    {
        "id": "0cd22626df97c897",
        "type": "ui_text_input",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "label": "Fin_line_width",
        "tooltip": "",
        "group": "82b954ca6fcb77f5",
        "order": 6,
        "width": 6,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 2140,
        "wires": [
            [
                "5b4eedb549ff7621"
            ]
        ]
    },
    {
        "id": "4b504e7d6171f909",
        "type": "function",
        "z": "40c9fe5c0f60b5d0",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2380,
        "wires": [
            [
                "cd2e419da0f5ae17"
            ]
        ]
    },
    {
        "id": "473dcd010f17ea42",
        "type": "debug",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 2380,
        "wires": []
    },
    {
        "id": "cd2e419da0f5ae17",
        "type": "http request",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.1.5/update-currentlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 2380,
        "wires": [
            [
                "473dcd010f17ea42"
            ]
        ]
    },
    {
        "id": "d6580b01a8ee24f0",
        "type": "ui_text_input",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "label": "current_line_width",
        "tooltip": "",
        "group": "82b954ca6fcb77f5",
        "order": 7,
        "width": 6,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 2380,
        "wires": [
            [
                "4b504e7d6171f909"
            ]
        ]
    },
    {
        "id": "264fd98d9f4dd94f",
        "type": "function",
        "z": "40c9fe5c0f60b5d0",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2620,
        "wires": [
            [
                "8f2a33a93824e470"
            ]
        ]
    },
    {
        "id": "776117aa8a9cf90f",
        "type": "debug",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 2620,
        "wires": []
    },
    {
        "id": "8f2a33a93824e470",
        "type": "http request",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.1.5/update-currentfinlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 2620,
        "wires": [
            [
                "776117aa8a9cf90f"
            ]
        ]
    },
    {
        "id": "0cdf9ac724564d83",
        "type": "ui_text_input",
        "z": "40c9fe5c0f60b5d0",
        "name": "",
        "label": "Current_finline_width",
        "tooltip": "",
        "group": "82b954ca6fcb77f5",
        "order": 8,
        "width": 6,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 100,
        "y": 2620,
        "wires": [
            [
                "264fd98d9f4dd94f"
            ]
        ]
    },
    {
        "id": "305b2383cc463422",
        "type": "ui_button",
        "z": "1698dfe8bcbde845",
        "name": "",
        "group": "8700a9779e53c3b0",
        "order": 1,
        "width": 5,
        "height": 4,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"on\", \"timeout\": 300 }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "2cd05b6557e60f92"
            ]
        ]
    },
    {
        "id": "e2d069f27646c17e",
        "type": "function",
        "z": "1698dfe8bcbde845",
        "name": "Sekunden zu Minuten",
        "func": "var minuten = msg.payload;\nmsg.payload=minuten;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "6868e7e7b787740b"
            ]
        ]
    },
    {
        "id": "1a57ce332dd2971f",
        "type": "comment",
        "z": "1698dfe8bcbde845",
        "name": "Countdown Timer",
        "info": "",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "6868e7e7b787740b",
        "type": "ui_gauge",
        "z": "1698dfe8bcbde845",
        "name": "",
        "group": "8700a9779e53c3b0",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Sekunden",
        "format": "{{value}}",
        "min": "0",
        "max": "300",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "094f2d8b2586db77",
        "type": "ui_button",
        "z": "1698dfe8bcbde845",
        "name": "",
        "group": "8700a9779e53c3b0",
        "order": 3,
        "width": 5,
        "height": 4,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"stop\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "2cd05b6557e60f92"
            ]
        ]
    },
    {
        "id": "2cd05b6557e60f92",
        "type": "mytimeout",
        "z": "1698dfe8bcbde845",
        "name": "5 Minuten Timer",
        "outtopic": "",
        "outsafe": "",
        "outwarning": "Warnung",
        "outunsafe": "Zeit abgelaufen",
        "warning": "5",
        "timer": "10",
        "debug": false,
        "ndebug": false,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 380,
        "y": 300,
        "wires": [
            [],
            [
                "e2d069f27646c17e"
            ]
        ]
    },
    {
        "id": "d81022a190adfe6e",
        "type": "http request",
        "z": "2bfde4946c37a693",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.5/Start",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "d614671127d83ddf"
            ]
        ]
    },
    {
        "id": "df9a599dd1a93375",
        "type": "ui_button",
        "z": "2bfde4946c37a693",
        "name": "",
        "group": "c56b65c652f42eca",
        "order": 1,
        "width": 5,
        "height": 4,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "d81022a190adfe6e"
            ]
        ]
    },
    {
        "id": "d614671127d83ddf",
        "type": "debug",
        "z": "2bfde4946c37a693",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "9bfdbfec68157c4b",
        "type": "http request",
        "z": "2bfde4946c37a693",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.5/Stop",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 340,
        "wires": [
            [
                "8edcaf6ccb548214"
            ]
        ]
    },
    {
        "id": "9f4256368c06b831",
        "type": "ui_button",
        "z": "2bfde4946c37a693",
        "name": "",
        "group": "c56b65c652f42eca",
        "order": 5,
        "width": 5,
        "height": 4,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "9bfdbfec68157c4b"
            ]
        ]
    },
    {
        "id": "8edcaf6ccb548214",
        "type": "debug",
        "z": "2bfde4946c37a693",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "635166e55b98632b",
        "type": "ui_template",
        "z": "de5c3427eb3aa9c7",
        "group": "",
        "name": "ESP32_Cam",
        "order": 1,
        "width": 7,
        "height": 6,
        "format": "<div>\n\n    <img src=\"http://192.168.0.43:81/stream\"\n     width=\"160\" height=\"120\">\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 510,
        "y": 200,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-video-camera"
    },
    {
        "id": "5eabf9c9.9a8ff8",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 660,
        "wires": [
            [
                "9aa1b84c39c52a33"
            ]
        ]
    },
    {
        "id": "aa8ab3ed.e9ccb8",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 660,
        "wires": []
    },
    {
        "id": "9aa1b84c39c52a33",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://172.20.10.7/update-tresholdvalue",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 660,
        "wires": [
            [
                "aa8ab3ed.e9ccb8"
            ]
        ]
    },
    {
        "id": "68f3a98b447aecca",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Treshold_value",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 1,
        "width": 8,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "5eabf9c9.9a8ff8"
            ]
        ]
    },
    {
        "id": "4e623e0ee9e9a3da",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 960,
        "wires": [
            [
                "1357d1d38c7d9e3b"
            ]
        ]
    },
    {
        "id": "5eb79632ce55f723",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 960,
        "wires": []
    },
    {
        "id": "1357d1d38c7d9e3b",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.156/update-recovertime ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 960,
        "wires": [
            [
                "5eb79632ce55f723"
            ]
        ]
    },
    {
        "id": "7b05197b190c7554",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "recover_time ",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 2,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "4e623e0ee9e9a3da"
            ]
        ]
    },
    {
        "id": "4cde3c7f327dd1d6",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1200,
        "wires": [
            [
                "cc6596c436ed98b2"
            ]
        ]
    },
    {
        "id": "a6470514f35f8543",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1200,
        "wires": []
    },
    {
        "id": "cc6596c436ed98b2",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-obstleftt ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 1200,
        "wires": [
            [
                "a6470514f35f8543"
            ]
        ]
    },
    {
        "id": "563d273b4f82b133",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Obst_left_t ",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 4,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "4cde3c7f327dd1d6"
            ]
        ]
    },
    {
        "id": "603316c7050e935c",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1440,
        "wires": [
            [
                "0b0dfb34cfb8eeb1"
            ]
        ]
    },
    {
        "id": "d106f4e382d0bfaa",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1440,
        "wires": []
    },
    {
        "id": "0b0dfb34cfb8eeb1",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-obststraightt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 1440,
        "wires": [
            [
                "d106f4e382d0bfaa"
            ]
        ]
    },
    {
        "id": "722f83809e1094ba",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Obst_straight_t",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 3,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1440,
        "wires": [
            [
                "603316c7050e935c"
            ]
        ]
    },
    {
        "id": "87b333e17330640b",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1680,
        "wires": [
            [
                "3b35a72ce9856ab6"
            ]
        ]
    },
    {
        "id": "02abe6b291e96060",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 1680,
        "wires": []
    },
    {
        "id": "3b35a72ce9856ab6",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-obstrightt ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 1680,
        "wires": [
            [
                "02abe6b291e96060"
            ]
        ]
    },
    {
        "id": "9acaa6054cb86246",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Obst_right_t ",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 5,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1680,
        "wires": [
            [
                "87b333e17330640b"
            ]
        ]
    },
    {
        "id": "04cef22a2a448ee9",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1900,
        "wires": [
            [
                "6e7b876cefd6aee8"
            ]
        ]
    },
    {
        "id": "577120dc16374422",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1900,
        "wires": []
    },
    {
        "id": "6e7b876cefd6aee8",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-linewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 1900,
        "wires": [
            [
                "577120dc16374422"
            ]
        ]
    },
    {
        "id": "ba1a183912f1d059",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Line_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 6,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 90,
        "y": 1900,
        "wires": [
            [
                "04cef22a2a448ee9"
            ]
        ]
    },
    {
        "id": "56a952e5dc508582",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2140,
        "wires": [
            [
                "11a4c83b60d442c7"
            ]
        ]
    },
    {
        "id": "c6fa173927667887",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 2140,
        "wires": []
    },
    {
        "id": "11a4c83b60d442c7",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-finlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 2140,
        "wires": [
            [
                "c6fa173927667887"
            ]
        ]
    },
    {
        "id": "8fd5c77d04a5eba6",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Fin_line_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 7,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 2140,
        "wires": [
            [
                "56a952e5dc508582"
            ]
        ]
    },
    {
        "id": "dccd89cf2e5e3428",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2380,
        "wires": [
            [
                "4c7a1021e8133bce"
            ]
        ]
    },
    {
        "id": "0917842f63b54162",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 2380,
        "wires": []
    },
    {
        "id": "4c7a1021e8133bce",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-currentlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 2380,
        "wires": [
            [
                "0917842f63b54162"
            ]
        ]
    },
    {
        "id": "1abdee5559470f83",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "current_line_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 8,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 2380,
        "wires": [
            [
                "dccd89cf2e5e3428"
            ]
        ]
    },
    {
        "id": "a0be68551b95cc97",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2620,
        "wires": [
            [
                "793a49643f02f45d"
            ]
        ]
    },
    {
        "id": "84b1ca7ce724abc1",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 2620,
        "wires": []
    },
    {
        "id": "793a49643f02f45d",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-currentfinlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 2620,
        "wires": [
            [
                "84b1ca7ce724abc1"
            ]
        ]
    },
    {
        "id": "e1e1c1e393f0f1a5",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Current_finline_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 9,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 100,
        "y": 2620,
        "wires": [
            [
                "a0be68551b95cc97"
            ]
        ]
    },
    {
        "id": "4ca0c1cf9c2d2102",
        "type": "ui_button",
        "z": "694fb32518b8351e",
        "name": "",
        "group": "8478555ca06fa3e9",
        "order": 1,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"on\", \"timeout\": 300 }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "1e06b8562b236a6f"
            ]
        ]
    },
    {
        "id": "1e06b8562b236a6f",
        "type": "mytimeout",
        "z": "694fb32518b8351e",
        "name": "5 Minuten Timer",
        "outtopic": "",
        "outsafe": "",
        "outwarning": "Warnung",
        "outunsafe": "Zeit abgelaufen",
        "warning": "5",
        "timer": "10",
        "debug": false,
        "ndebug": false,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 380,
        "y": 300,
        "wires": [
            [],
            [
                "54267518d90c2ad5"
            ]
        ]
    },
    {
        "id": "54267518d90c2ad5",
        "type": "function",
        "z": "694fb32518b8351e",
        "name": "Sekunden zu Minuten",
        "func": "var minuten = msg.payload;\nmsg.payload=minuten;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "bf022109ca685e5e"
            ]
        ]
    },
    {
        "id": "918c858dd7e7a9e8",
        "type": "comment",
        "z": "694fb32518b8351e",
        "name": "Countdown Timer",
        "info": "",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "bf022109ca685e5e",
        "type": "ui_gauge",
        "z": "694fb32518b8351e",
        "name": "",
        "group": "8478555ca06fa3e9",
        "order": 2,
        "width": 3,
        "height": 4,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Sekunden",
        "format": "{{value}}",
        "min": "0",
        "max": "300",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "2ac137aef1eb8a95",
        "type": "ui_button",
        "z": "694fb32518b8351e",
        "name": "",
        "group": "8478555ca06fa3e9",
        "order": 3,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"stop\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "1e06b8562b236a6f"
            ]
        ]
    },
    {
        "id": "5f6da8b8f40a36a9",
        "type": "http request",
        "z": "f90472f2bdbcca1d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.156/Start",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "867a7147aeca588d"
            ]
        ]
    },
    {
        "id": "c663394e3def9a6b",
        "type": "ui_button",
        "z": "f90472f2bdbcca1d",
        "name": "",
        "group": "60b9c858.a9ecdc",
        "order": 1,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "5f6da8b8f40a36a9"
            ]
        ]
    },
    {
        "id": "867a7147aeca588d",
        "type": "debug",
        "z": "f90472f2bdbcca1d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "2b9a7140bfe76490",
        "type": "http request",
        "z": "f90472f2bdbcca1d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.156/Stop",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 340,
        "wires": [
            [
                "a48dbc5240b41bfd"
            ]
        ]
    },
    {
        "id": "9f54029ac33ce789",
        "type": "ui_button",
        "z": "f90472f2bdbcca1d",
        "name": "",
        "group": "60b9c858.a9ecdc",
        "order": 3,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "2b9a7140bfe76490"
            ]
        ]
    },
    {
        "id": "a48dbc5240b41bfd",
        "type": "debug",
        "z": "f90472f2bdbcca1d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "3ab3e273.a8b15a",
        "type": "http request",
        "z": "fb81dc8b2600dc96",
        "name": "Get Status",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.10.7/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "77b0f31b.75f33",
                "ec5ac557e6a22813"
            ]
        ]
    },
    {
        "id": "77b0f31b.75f33",
        "type": "ui_text",
        "z": "fb81dc8b2600dc96",
        "group": "60b9c858.a9ecdc",
        "order": 2,
        "width": 3,
        "height": 4,
        "name": "",
        "label": "State",
        "format": "{{payload}}",
        "layout": "col-center",
        "className": "",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "ec5ac557e6a22813",
        "type": "debug",
        "z": "fb81dc8b2600dc96",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "52f5654b92a14604",
        "type": "inject",
        "z": "fb81dc8b2600dc96",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "3ab3e273.a8b15a"
            ]
        ]
    },
    {
        "id": "f24e193eeab643d5",
        "type": "http request",
        "z": "afe2bcd9a89f69ee",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.10.7/Stop_server",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 505.08331298828125,
        "y": 360.0833435058594,
        "wires": [
            [
                "4abed5f7224c282e"
            ]
        ]
    },
    {
        "id": "d0a0f6521b40b7ae",
        "type": "ui_button",
        "z": "afe2bcd9a89f69ee",
        "name": "",
        "group": "7ef72d236a7aa62c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tötet den Server",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 205.08331298828125,
        "y": 360.0833435058594,
        "wires": [
            [
                "f24e193eeab643d5"
            ]
        ]
    },
    {
        "id": "4abed5f7224c282e",
        "type": "debug",
        "z": "afe2bcd9a89f69ee",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 835.0833129882812,
        "y": 360.0833435058594,
        "wires": []
    },
    {
        "id": "00ea1ab338a2809f",
        "type": "function",
        "z": "0ffe55d73784c2fe",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 660,
        "wires": [
            [
                "478a6ed6db1ca3bc"
            ]
        ]
    },
    {
        "id": "504fbfdf014a2943",
        "type": "debug",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 660,
        "wires": []
    },
    {
        "id": "478a6ed6db1ca3bc",
        "type": "http request",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.43/update-tresholdvalue",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 660,
        "wires": [
            [
                "504fbfdf014a2943"
            ]
        ]
    },
    {
        "id": "3778898a99f7de37",
        "type": "ui_text_input",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "label": "Treshold_value",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 1,
        "width": 8,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "00ea1ab338a2809f"
            ]
        ]
    },
    {
        "id": "11b84d7db117578b",
        "type": "function",
        "z": "0ffe55d73784c2fe",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 960,
        "wires": [
            [
                "ba721824744c3bcb"
            ]
        ]
    },
    {
        "id": "8b44440ea10ffa84",
        "type": "debug",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 960,
        "wires": []
    },
    {
        "id": "ba721824744c3bcb",
        "type": "http request",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.156/update-recovertime ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 960,
        "wires": [
            [
                "8b44440ea10ffa84"
            ]
        ]
    },
    {
        "id": "c4dcbf666f1b343c",
        "type": "ui_text_input",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "label": "recover_time ",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 2,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "11b84d7db117578b"
            ]
        ]
    },
    {
        "id": "8289b0e1ae3a51fa",
        "type": "function",
        "z": "0ffe55d73784c2fe",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1200,
        "wires": [
            [
                "979804ffa9d85e1a"
            ]
        ]
    },
    {
        "id": "807443cbbe85da36",
        "type": "debug",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1200,
        "wires": []
    },
    {
        "id": "979804ffa9d85e1a",
        "type": "http request",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-obstleftt ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 1200,
        "wires": [
            [
                "807443cbbe85da36"
            ]
        ]
    },
    {
        "id": "322e7fedd262104e",
        "type": "ui_text_input",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "label": "Obst_left_t ",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 4,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "8289b0e1ae3a51fa"
            ]
        ]
    },
    {
        "id": "1899e528b58ece29",
        "type": "function",
        "z": "0ffe55d73784c2fe",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1440,
        "wires": [
            [
                "480176de308e8166"
            ]
        ]
    },
    {
        "id": "25f7244213772ceb",
        "type": "debug",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1440,
        "wires": []
    },
    {
        "id": "480176de308e8166",
        "type": "http request",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-obststraightt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 1440,
        "wires": [
            [
                "25f7244213772ceb"
            ]
        ]
    },
    {
        "id": "65e24e4bcd583a39",
        "type": "ui_text_input",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "label": "Obst_straight_t",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 3,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1440,
        "wires": [
            [
                "1899e528b58ece29"
            ]
        ]
    },
    {
        "id": "234cf971b8658161",
        "type": "function",
        "z": "0ffe55d73784c2fe",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1680,
        "wires": [
            [
                "bbc2401bc2d9548f"
            ]
        ]
    },
    {
        "id": "17f6be9eeb9e9017",
        "type": "debug",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 1680,
        "wires": []
    },
    {
        "id": "bbc2401bc2d9548f",
        "type": "http request",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-obstrightt ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 1680,
        "wires": [
            [
                "17f6be9eeb9e9017"
            ]
        ]
    },
    {
        "id": "cfe25880b5c6672e",
        "type": "ui_text_input",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "label": "Obst_right_t ",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 5,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1680,
        "wires": [
            [
                "234cf971b8658161"
            ]
        ]
    },
    {
        "id": "ab2abe3d1ec2f8aa",
        "type": "function",
        "z": "0ffe55d73784c2fe",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1900,
        "wires": [
            [
                "558ba2767a6e6033"
            ]
        ]
    },
    {
        "id": "fc8b97957a4ba7a6",
        "type": "debug",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1900,
        "wires": []
    },
    {
        "id": "558ba2767a6e6033",
        "type": "http request",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-linewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 1900,
        "wires": [
            [
                "fc8b97957a4ba7a6"
            ]
        ]
    },
    {
        "id": "8e13d7c7a1861994",
        "type": "ui_text_input",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "label": "Line_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 6,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 90,
        "y": 1900,
        "wires": [
            [
                "ab2abe3d1ec2f8aa"
            ]
        ]
    },
    {
        "id": "67bd79f3345f06f0",
        "type": "function",
        "z": "0ffe55d73784c2fe",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2140,
        "wires": [
            [
                "7a20ce1fa514c07e"
            ]
        ]
    },
    {
        "id": "f04a3c4a8082ae8e",
        "type": "debug",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 2140,
        "wires": []
    },
    {
        "id": "7a20ce1fa514c07e",
        "type": "http request",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-finlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 2140,
        "wires": [
            [
                "f04a3c4a8082ae8e"
            ]
        ]
    },
    {
        "id": "4315aae219291f5f",
        "type": "ui_text_input",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "label": "Fin_line_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 7,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 2140,
        "wires": [
            [
                "67bd79f3345f06f0"
            ]
        ]
    },
    {
        "id": "9e518ffde28e91b2",
        "type": "function",
        "z": "0ffe55d73784c2fe",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2380,
        "wires": [
            [
                "a07ce5af19493bfe"
            ]
        ]
    },
    {
        "id": "3e0d366c7b957a33",
        "type": "debug",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 2380,
        "wires": []
    },
    {
        "id": "a07ce5af19493bfe",
        "type": "http request",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-currentlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 2380,
        "wires": [
            [
                "3e0d366c7b957a33"
            ]
        ]
    },
    {
        "id": "ad9ad5a44dab79cc",
        "type": "ui_text_input",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "label": "current_line_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 8,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 2380,
        "wires": [
            [
                "9e518ffde28e91b2"
            ]
        ]
    },
    {
        "id": "6dc1fa34ca12cada",
        "type": "function",
        "z": "0ffe55d73784c2fe",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2620,
        "wires": [
            [
                "2817fa7f1e05d40b"
            ]
        ]
    },
    {
        "id": "db3fa14e6da13ea9",
        "type": "debug",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 2620,
        "wires": []
    },
    {
        "id": "2817fa7f1e05d40b",
        "type": "http request",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-currentfinlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 2620,
        "wires": [
            [
                "db3fa14e6da13ea9"
            ]
        ]
    },
    {
        "id": "60e8563050425308",
        "type": "ui_text_input",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "label": "Current_finline_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 9,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 100,
        "y": 2620,
        "wires": [
            [
                "6dc1fa34ca12cada"
            ]
        ]
    },
    {
        "id": "6ce9debd90652cd3",
        "type": "function",
        "z": "0ffe55d73784c2fe",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 740,
        "wires": [
            [
                "7e2a5945d2a40b31"
            ]
        ]
    },
    {
        "id": "d19cb10bf2d5e142",
        "type": "debug",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "7e2a5945d2a40b31",
        "type": "http request",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.43/update-gain",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 740,
        "wires": [
            [
                "d19cb10bf2d5e142"
            ]
        ]
    },
    {
        "id": "85e0e2067a28e5e6",
        "type": "ui_text_input",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "label": "gain_value",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 1,
        "width": 8,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "6ce9debd90652cd3"
            ]
        ]
    },
    {
        "id": "4f0346b6ca080504",
        "type": "function",
        "z": "0ffe55d73784c2fe",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 820,
        "wires": [
            [
                "1855f8fcc074702c"
            ]
        ]
    },
    {
        "id": "360cf56de6855dc5",
        "type": "debug",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 820,
        "wires": []
    },
    {
        "id": "1855f8fcc074702c",
        "type": "http request",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.43/update-exposure",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 820,
        "wires": [
            [
                "360cf56de6855dc5"
            ]
        ]
    },
    {
        "id": "076e57680a4b1d9f",
        "type": "ui_text_input",
        "z": "0ffe55d73784c2fe",
        "name": "",
        "label": "exposure_value",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 1,
        "width": 8,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "4f0346b6ca080504"
            ]
        ]
    },
    {
        "id": "8aae7e2e0c6d4858",
        "type": "ui_button",
        "z": "e2011e6f078c8688",
        "name": "",
        "group": "8478555ca06fa3e9",
        "order": 1,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"on\", \"timeout\": 300 }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "a4bcf028b9ddda2f"
            ]
        ]
    },
    {
        "id": "a4bcf028b9ddda2f",
        "type": "mytimeout",
        "z": "e2011e6f078c8688",
        "name": "5 Minuten Timer",
        "outtopic": "",
        "outsafe": "",
        "outwarning": "Warnung",
        "outunsafe": "Zeit abgelaufen",
        "warning": "5",
        "timer": "10",
        "debug": false,
        "ndebug": false,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 380,
        "y": 300,
        "wires": [
            [],
            [
                "3f1e1cf6a8652b47"
            ]
        ]
    },
    {
        "id": "3f1e1cf6a8652b47",
        "type": "function",
        "z": "e2011e6f078c8688",
        "name": "Sekunden zu Minuten",
        "func": "var minuten = msg.payload;\nmsg.payload=minuten;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "9a80b01e4b9ab40b"
            ]
        ]
    },
    {
        "id": "d955d9c0e33d7bdd",
        "type": "comment",
        "z": "e2011e6f078c8688",
        "name": "Countdown Timer",
        "info": "",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "9a80b01e4b9ab40b",
        "type": "ui_gauge",
        "z": "e2011e6f078c8688",
        "name": "",
        "group": "8478555ca06fa3e9",
        "order": 2,
        "width": 3,
        "height": 4,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Sekunden",
        "format": "{{value}}",
        "min": "0",
        "max": "300",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "8009b0521ccacdb8",
        "type": "ui_button",
        "z": "e2011e6f078c8688",
        "name": "",
        "group": "8478555ca06fa3e9",
        "order": 3,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"stop\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "a4bcf028b9ddda2f"
            ]
        ]
    },
    {
        "id": "936a73ec6bc70525",
        "type": "http request",
        "z": "77a634d64a4a3b55",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.156/Start",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "5467296d60bb596a"
            ]
        ]
    },
    {
        "id": "4c966e1fecfb0cf7",
        "type": "ui_button",
        "z": "77a634d64a4a3b55",
        "name": "",
        "group": "60b9c858.a9ecdc",
        "order": 1,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "936a73ec6bc70525"
            ]
        ]
    },
    {
        "id": "5467296d60bb596a",
        "type": "debug",
        "z": "77a634d64a4a3b55",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "5bb8eb3a39f2d3ce",
        "type": "http request",
        "z": "77a634d64a4a3b55",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.156/Stop",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 340,
        "wires": [
            [
                "9246d3694dcde5d4"
            ]
        ]
    },
    {
        "id": "4a26dcd68caf2016",
        "type": "ui_button",
        "z": "77a634d64a4a3b55",
        "name": "",
        "group": "60b9c858.a9ecdc",
        "order": 3,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "5bb8eb3a39f2d3ce"
            ]
        ]
    },
    {
        "id": "9246d3694dcde5d4",
        "type": "debug",
        "z": "77a634d64a4a3b55",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "3c3297b819089f04",
        "type": "http request",
        "z": "b08dfc02489938ac",
        "name": "Get Status",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.43/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "36598db290a864f4",
                "21bfdf04c0b04d9e"
            ]
        ]
    },
    {
        "id": "36598db290a864f4",
        "type": "ui_text",
        "z": "b08dfc02489938ac",
        "group": "60b9c858.a9ecdc",
        "order": 2,
        "width": 3,
        "height": 4,
        "name": "",
        "label": "State",
        "format": "{{payload}}",
        "layout": "col-center",
        "className": "",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "21bfdf04c0b04d9e",
        "type": "debug",
        "z": "b08dfc02489938ac",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "d8e2480c3cda7b11",
        "type": "inject",
        "z": "b08dfc02489938ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "3c3297b819089f04"
            ]
        ]
    },
    {
        "id": "555cdd0f60148271",
        "type": "http request",
        "z": "1ddbf9e3602d728f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.43/Start_image",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 505.08331298828125,
        "y": 360.0833435058594,
        "wires": [
            [
                "a939ef07be2e87d5"
            ]
        ]
    },
    {
        "id": "24a6f153e2745490",
        "type": "ui_button",
        "z": "1ddbf9e3602d728f",
        "name": "",
        "group": "7ef72d236a7aa62c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Bild an",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 165.08331298828125,
        "y": 360.0833435058594,
        "wires": [
            [
                "555cdd0f60148271"
            ]
        ]
    },
    {
        "id": "a939ef07be2e87d5",
        "type": "debug",
        "z": "1ddbf9e3602d728f",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 835.0833129882812,
        "y": 360.0833435058594,
        "wires": []
    },
    {
        "id": "49d6abb248d41ec4",
        "type": "http request",
        "z": "1ddbf9e3602d728f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.10.7/Stop_Image",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "68417c1da4cfda9a",
        "type": "ui_button",
        "z": "1ddbf9e3602d728f",
        "name": "",
        "group": "7ef72d236a7aa62c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Bild aus",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "49d6abb248d41ec4"
            ]
        ]
    },
    {
        "id": "b4b798c10ce4a450",
        "type": "function",
        "z": "6bbf12d4048cbee4",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 660,
        "wires": [
            [
                "e5059f79b52f2af7"
            ]
        ]
    },
    {
        "id": "5de9b576f267e1bb",
        "type": "debug",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 660,
        "wires": []
    },
    {
        "id": "e5059f79b52f2af7",
        "type": "http request",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.57.180/update-tresholdvalue",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 660,
        "wires": [
            [
                "5de9b576f267e1bb"
            ]
        ]
    },
    {
        "id": "57ba4afa6cd95583",
        "type": "ui_text_input",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "label": "Treshold_value",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 1,
        "width": 8,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "b4b798c10ce4a450"
            ]
        ]
    },
    {
        "id": "98f01335cb16110f",
        "type": "function",
        "z": "6bbf12d4048cbee4",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 960,
        "wires": [
            [
                "f83271caabc22aef"
            ]
        ]
    },
    {
        "id": "4e8ca0508a5d054c",
        "type": "debug",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 960,
        "wires": []
    },
    {
        "id": "f83271caabc22aef",
        "type": "http request",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.156/update-recovertime ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 960,
        "wires": [
            [
                "4e8ca0508a5d054c"
            ]
        ]
    },
    {
        "id": "b871e4042015ed86",
        "type": "function",
        "z": "6bbf12d4048cbee4",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1200,
        "wires": [
            [
                "be63abe70cfbd015"
            ]
        ]
    },
    {
        "id": "3b1ef548289b6808",
        "type": "debug",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1200,
        "wires": []
    },
    {
        "id": "be63abe70cfbd015",
        "type": "http request",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.57.180/update-obstacle-distance",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 1200,
        "wires": [
            [
                "3b1ef548289b6808"
            ]
        ]
    },
    {
        "id": "465e87c53f9de2e0",
        "type": "ui_text_input",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "label": "obstacle_detection_dist",
        "tooltip": "",
        "group": "82b954ca6fcb77f5",
        "order": 4,
        "width": "6",
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 180,
        "y": 1200,
        "wires": [
            [
                "b871e4042015ed86"
            ]
        ]
    },
    {
        "id": "23b9b7e9a0cf40aa",
        "type": "function",
        "z": "6bbf12d4048cbee4",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1440,
        "wires": [
            [
                "08dcdd1e1812a6fc"
            ]
        ]
    },
    {
        "id": "f7b73c3c48b14679",
        "type": "debug",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1440,
        "wires": []
    },
    {
        "id": "08dcdd1e1812a6fc",
        "type": "http request",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.57.180/update-obstacle-tollerance",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 1440,
        "wires": [
            [
                "f7b73c3c48b14679"
            ]
        ]
    },
    {
        "id": "b78ed615a88289b8",
        "type": "ui_text_input",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "label": "obstacle_detection_tolerance",
        "tooltip": "",
        "group": "82b954ca6fcb77f5",
        "order": 3,
        "width": "6",
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 160,
        "y": 1440,
        "wires": [
            [
                "23b9b7e9a0cf40aa"
            ]
        ]
    },
    {
        "id": "c64bdb42cf9d7ec9",
        "type": "function",
        "z": "6bbf12d4048cbee4",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1680,
        "wires": [
            [
                "f1cafd2d3bb1138e"
            ]
        ]
    },
    {
        "id": "39710e7c5ecb5a23",
        "type": "debug",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 1680,
        "wires": []
    },
    {
        "id": "f1cafd2d3bb1138e",
        "type": "http request",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-obstrightt ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 1680,
        "wires": [
            [
                "39710e7c5ecb5a23"
            ]
        ]
    },
    {
        "id": "5b9ace10ed2c3911",
        "type": "ui_text_input",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "label": "Obst_right_t ",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 5,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1680,
        "wires": [
            [
                "c64bdb42cf9d7ec9"
            ]
        ]
    },
    {
        "id": "fe182e65d7439288",
        "type": "function",
        "z": "6bbf12d4048cbee4",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1900,
        "wires": [
            [
                "04b9c4f10a4f523e"
            ]
        ]
    },
    {
        "id": "d83acd0e58087474",
        "type": "debug",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1900,
        "wires": []
    },
    {
        "id": "04b9c4f10a4f523e",
        "type": "http request",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-linewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 1900,
        "wires": [
            [
                "d83acd0e58087474"
            ]
        ]
    },
    {
        "id": "56a0a49e017e771e",
        "type": "ui_text_input",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "label": "Line_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 6,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 90,
        "y": 1900,
        "wires": [
            [
                "fe182e65d7439288"
            ]
        ]
    },
    {
        "id": "3c3b3734b7080953",
        "type": "function",
        "z": "6bbf12d4048cbee4",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2140,
        "wires": [
            [
                "257910c2707d5a64"
            ]
        ]
    },
    {
        "id": "7dbf997733c70ef2",
        "type": "debug",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 2140,
        "wires": []
    },
    {
        "id": "257910c2707d5a64",
        "type": "http request",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-finlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 2140,
        "wires": [
            [
                "7dbf997733c70ef2"
            ]
        ]
    },
    {
        "id": "24eb6f9659718df2",
        "type": "ui_text_input",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "label": "Fin_line_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 7,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 2140,
        "wires": [
            [
                "3c3b3734b7080953"
            ]
        ]
    },
    {
        "id": "b9664ff9096cfb70",
        "type": "function",
        "z": "6bbf12d4048cbee4",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2380,
        "wires": [
            [
                "6c21d8c31eb7c37d"
            ]
        ]
    },
    {
        "id": "7431d2653c06600a",
        "type": "debug",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 2380,
        "wires": []
    },
    {
        "id": "6c21d8c31eb7c37d",
        "type": "http request",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-currentlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 2380,
        "wires": [
            [
                "7431d2653c06600a"
            ]
        ]
    },
    {
        "id": "3bb0b363b5042aa9",
        "type": "ui_text_input",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "label": "current_line_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 8,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 2380,
        "wires": [
            [
                "b9664ff9096cfb70"
            ]
        ]
    },
    {
        "id": "015dd2c57b72a4af",
        "type": "function",
        "z": "6bbf12d4048cbee4",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2620,
        "wires": [
            [
                "2b8c0d4a2a871f45"
            ]
        ]
    },
    {
        "id": "560a31c610dca2c6",
        "type": "debug",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 2620,
        "wires": []
    },
    {
        "id": "2b8c0d4a2a871f45",
        "type": "http request",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-currentfinlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 2620,
        "wires": [
            [
                "560a31c610dca2c6"
            ]
        ]
    },
    {
        "id": "39c636997c731cfe",
        "type": "ui_text_input",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "label": "Current_finline_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 9,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 100,
        "y": 2620,
        "wires": [
            [
                "015dd2c57b72a4af"
            ]
        ]
    },
    {
        "id": "79e29984db725b1d",
        "type": "function",
        "z": "6bbf12d4048cbee4",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 740,
        "wires": [
            [
                "f6cb5552214cb98d"
            ]
        ]
    },
    {
        "id": "7ad1d77a6c6a5fbd",
        "type": "debug",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "f6cb5552214cb98d",
        "type": "http request",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.57.180/update-gain",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 740,
        "wires": [
            [
                "7ad1d77a6c6a5fbd"
            ]
        ]
    },
    {
        "id": "9b3cb3807ce77034",
        "type": "ui_text_input",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "label": "gain_value",
        "tooltip": "",
        "group": "c56b65c652f42eca",
        "order": 2,
        "width": 8,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "79e29984db725b1d"
            ]
        ]
    },
    {
        "id": "8e09a0d88049b7a1",
        "type": "function",
        "z": "6bbf12d4048cbee4",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 820,
        "wires": [
            [
                "e4cd05b38fb4e7d5"
            ]
        ]
    },
    {
        "id": "4dcadff92cac798f",
        "type": "debug",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 820,
        "wires": []
    },
    {
        "id": "e4cd05b38fb4e7d5",
        "type": "http request",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.57.180/update-exposure",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 820,
        "wires": [
            [
                "4dcadff92cac798f"
            ]
        ]
    },
    {
        "id": "bd649c5a338d0baa",
        "type": "ui_text_input",
        "z": "6bbf12d4048cbee4",
        "name": "",
        "label": "exposure_value",
        "tooltip": "",
        "group": "c56b65c652f42eca",
        "order": 3,
        "width": 8,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "8e09a0d88049b7a1"
            ]
        ]
    },
    {
        "id": "1a55737315223099",
        "type": "ui_button",
        "z": "175cf7b1954c7337",
        "name": "",
        "group": "8478555ca06fa3e9",
        "order": 1,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"on\", \"timeout\": 300 }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "2c53aacccc31892b"
            ]
        ]
    },
    {
        "id": "2c53aacccc31892b",
        "type": "mytimeout",
        "z": "175cf7b1954c7337",
        "name": "5 Minuten Timer",
        "outtopic": "",
        "outsafe": "",
        "outwarning": "Warnung",
        "outunsafe": "Zeit abgelaufen",
        "warning": "5",
        "timer": "10",
        "debug": false,
        "ndebug": false,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 380,
        "y": 300,
        "wires": [
            [],
            [
                "14f268f959cf3aff"
            ]
        ]
    },
    {
        "id": "14f268f959cf3aff",
        "type": "function",
        "z": "175cf7b1954c7337",
        "name": "Sekunden zu Minuten",
        "func": "var minuten = msg.payload;\nmsg.payload=minuten;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "4b0b05d5f5134ad5"
            ]
        ]
    },
    {
        "id": "518916bd177129fc",
        "type": "comment",
        "z": "175cf7b1954c7337",
        "name": "Countdown Timer",
        "info": "",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "4b0b05d5f5134ad5",
        "type": "ui_gauge",
        "z": "175cf7b1954c7337",
        "name": "",
        "group": "8478555ca06fa3e9",
        "order": 2,
        "width": 3,
        "height": 4,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Sekunden",
        "format": "{{value}}",
        "min": "0",
        "max": "300",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "3f7efc48ace0a6de",
        "type": "ui_button",
        "z": "175cf7b1954c7337",
        "name": "",
        "group": "8478555ca06fa3e9",
        "order": 3,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"stop\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "2c53aacccc31892b"
            ]
        ]
    },
    {
        "id": "51265492e15b0317",
        "type": "http request",
        "z": "b1c9a4e3a5c4be69",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.156/Start",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "b56286a761c326ae"
            ]
        ]
    },
    {
        "id": "3fae2dfe31322b8f",
        "type": "ui_button",
        "z": "b1c9a4e3a5c4be69",
        "name": "",
        "group": "60b9c858.a9ecdc",
        "order": 1,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "51265492e15b0317"
            ]
        ]
    },
    {
        "id": "b56286a761c326ae",
        "type": "debug",
        "z": "b1c9a4e3a5c4be69",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "935a23168552f4c5",
        "type": "http request",
        "z": "b1c9a4e3a5c4be69",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.156/Stop",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 340,
        "wires": [
            [
                "2795daaa83bba8e5"
            ]
        ]
    },
    {
        "id": "25b1bdd4313d0930",
        "type": "ui_button",
        "z": "b1c9a4e3a5c4be69",
        "name": "",
        "group": "60b9c858.a9ecdc",
        "order": 3,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "935a23168552f4c5"
            ]
        ]
    },
    {
        "id": "2795daaa83bba8e5",
        "type": "debug",
        "z": "b1c9a4e3a5c4be69",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "2e92768287b82ff5",
        "type": "http request",
        "z": "fb992aeda39dba3b",
        "name": "Get Status",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.43/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "9fc2ece72aa2cf59",
                "787c45820f8a0bff"
            ]
        ]
    },
    {
        "id": "9fc2ece72aa2cf59",
        "type": "ui_text",
        "z": "fb992aeda39dba3b",
        "group": "60b9c858.a9ecdc",
        "order": 2,
        "width": 3,
        "height": 4,
        "name": "",
        "label": "State",
        "format": "{{payload}}",
        "layout": "col-center",
        "className": "",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "787c45820f8a0bff",
        "type": "debug",
        "z": "fb992aeda39dba3b",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "b8c1d645a59bd6ba",
        "type": "inject",
        "z": "fb992aeda39dba3b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "2e92768287b82ff5"
            ]
        ]
    },
    {
        "id": "e4c574ea3ccd5406",
        "type": "http request",
        "z": "fa34ea72095b5aea",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.43/Start_image",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 505.08331298828125,
        "y": 360.0833435058594,
        "wires": [
            [
                "dd78555ba17efab2"
            ]
        ]
    },
    {
        "id": "f99697e01641b7cd",
        "type": "ui_button",
        "z": "fa34ea72095b5aea",
        "name": "",
        "group": "7ef72d236a7aa62c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Bild an",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 165.08331298828125,
        "y": 360.0833435058594,
        "wires": [
            [
                "e4c574ea3ccd5406"
            ]
        ]
    },
    {
        "id": "dd78555ba17efab2",
        "type": "debug",
        "z": "fa34ea72095b5aea",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 835.0833129882812,
        "y": 360.0833435058594,
        "wires": []
    },
    {
        "id": "ff3267a786aed00e",
        "type": "http request",
        "z": "fa34ea72095b5aea",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.10.7/Stop_Image",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "a897e86386f94aad",
        "type": "ui_button",
        "z": "fa34ea72095b5aea",
        "name": "",
        "group": "7ef72d236a7aa62c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Bild aus",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "ff3267a786aed00e"
            ]
        ]
    }
]