node_red/Node_red_Bitlle.json
[
    {
        "id": "e11b66b88e7c1c1a",
        "type": "tab",
        "label": "Change_Values",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "694fb32518b8351e",
        "type": "tab",
        "label": "Timer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f90472f2bdbcca1d",
        "type": "tab",
        "label": "Start",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb81dc8b2600dc96",
        "type": "tab",
        "label": "Status_anzeige",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "afe2bcd9a89f69ee",
        "type": "tab",
        "label": "Start/Stop Bild",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "23160170.77800e",
        "type": "subflow",
        "name": "top",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 100,
                "wires": [
                    {
                        "id": "98a41609.d8efc8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 100,
                "wires": [
                    {
                        "id": "bc97fbbe.cb9318",
                        "port": 1
                    }
                ]
            },
            {
                "x": 620,
                "y": 160,
                "wires": [
                    {
                        "id": "bc97fbbe.cb9318",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 620,
            "y": 40,
            "wires": [
                {
                    "id": "bc97fbbe.cb9318",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "32d61e0f.0490b2",
        "type": "subflow",
        "name": "stderr",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "211d46bf.a79c7a"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99",
        "status": {
            "x": 320,
            "y": 120,
            "wires": [
                {
                    "id": "211d46bf.a79c7a",
                    "port": 1
                }
            ]
        }
    },
    {
        "id": "a9b0ce21eebf1c35",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#000000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#000000",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#262626",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "60b9c858.a9ecdc",
        "type": "ui_group",
        "name": "Start/Stop Bittle",
        "tab": "564a631a.2f096c",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d657f78.0c59f9",
        "type": "ui_group",
        "name": "Timer 5 Minuten",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "564a631a.2f096c",
        "type": "ui_tab",
        "name": "Start",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fc1e21e41a3e4d10",
        "type": "ui_spacer",
        "z": "f90472f2bdbcca1d",
        "name": "spacer",
        "group": "1d657f78.0c59f9",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a33a5cbf5a4d1a63",
        "type": "serial-port",
        "serialport": "COM5",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "b8dc08314662bb39",
        "type": "ui_group",
        "name": "Treshold",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5bd151deb14bfdab",
        "type": "ui_group",
        "name": "Value eingabe",
        "tab": "564a631a.2f096c",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8478555ca06fa3e9",
        "type": "ui_group",
        "name": "Stopuhr",
        "tab": "564a631a.2f096c",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "59cd35de9892c937",
        "type": "ui_group",
        "d": true,
        "name": "Live-übertragung",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a63b29d.f4c81d8",
        "type": "ui_group",
        "name": "Form",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "a102cf1a.5e5e5",
        "type": "ui_group",
        "name": "Video Stream",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "80c7b77c.12d088",
        "type": "ui_group",
        "name": "Video Stream",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "9f75dd89.bf7f78",
        "type": "ui_group",
        "name": "Kamera",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "60018d09cc0e953a",
        "type": "ui_tab",
        "name": "Server",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7ef72d236a7aa62c",
        "type": "ui_group",
        "name": "Server_Start",
        "tab": "60018d09cc0e953a",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e4f2412d.1b609",
        "type": "exec",
        "z": "23160170.77800e",
        "command": "top -b -d 5 -p",
        "addpay": true,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 329,
        "y": 101,
        "wires": [
            [
                "bc97fbbe.cb9318"
            ],
            [],
            []
        ]
    },
    {
        "id": "bc97fbbe.cb9318",
        "type": "function",
        "z": "23160170.77800e",
        "name": "",
        "func": "const { payload } = msg;\n\nif (typeof payload === 'string') {\n    \n    //node.warn(payload);\n    \n    const lines = payload.toString().trim().split(/[\\n]+/);\n    \n    if (lines.length >= 2) {\n        \n        const labels = lines[lines.length - 2].trim().split(/[\\s]+/);\n\n        const values = lines[lines.length - 1].trim().split(/[\\s]+/);\n        \n        const data = {};\n        \n        for (let i = 0; i < labels.length; ++i) {\n            data[labels[i]] = values[i] || '0.0';\n        }\n        \n        const cpu = data['%CPU'];\n        \n        const mem = data['%MEM'];\n        \n        const text = `%CPU ${cpu}, %MEM ${mem}`;\n        \n        return node.send([{ payload: { fill: 'green', shape: 'dot', text } }, { payload: cpu }, { payload: mem } ]);\n\n    }\n\n}\n\nnode.send({ payload: {} });",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 495,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ],
        "l": false,
        "info": "# minimize top's output in batch mode\n\nrun top in interactive mode (dont use -b)\n\nopen column configuration menu (f) and toggle values\n\nquit (q) menu\n\nconfigure display using (l, t, m) to remove extra\n\nsave configuration (shift + w)\n\nquit (q) top\n\nrun top in batch mode (top -b) to see the changes"
    },
    {
        "id": "98a41609.d8efc8",
        "type": "function",
        "z": "23160170.77800e",
        "name": "",
        "func": "const { payload = {} } = msg;\n\nconst { status, pid } = payload;\n\nconst timeout = context.get('timeout');\n\nclearTimeout(timeout);\n\nif (status === 'spawn') {\n    \n    const timeout = setTimeout(() => node.send({ payload: pid }), 100);\n    \n    context.set('timeout', timeout);\n    \n} else if (status === 'close') {\n    \n    node.send({ payload: 'kill', kill: 'SIGTERM' });\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\n\ncontext.set('timeout', undefined);",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\n\nconst timeout = context.get('timeout');\n\nclearTimeout(timeout);\n\ncontext.set('timeout', undefined);",
        "x": 203,
        "y": 101,
        "wires": [
            [
                "e4f2412d.1b609"
            ]
        ],
        "l": false
    },
    {
        "id": "211d46bf.a79c7a",
        "type": "function",
        "z": "32d61e0f.0490b2",
        "name": "stderr",
        "func": "const stderr = msg.payload.toString().split('\\n');\n\nnode.send([{ stderr }, { payload: {fill: 'red', text: `${new Date().toString()}` } } ]);",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 190,
        "y": 73,
        "wires": [
            [
                "c6e5408.f19c4c"
            ],
            []
        ]
    },
    {
        "id": "c6e5408.f19c4c",
        "type": "debug",
        "z": "32d61e0f.0490b2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "stderr",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "5eabf9c9.9a8ff8",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 660,
        "wires": [
            [
                "9aa1b84c39c52a33"
            ]
        ]
    },
    {
        "id": "aa8ab3ed.e9ccb8",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 660,
        "wires": []
    },
    {
        "id": "9aa1b84c39c52a33",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.43/update-tresholdvalue",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 660,
        "wires": [
            [
                "aa8ab3ed.e9ccb8"
            ]
        ]
    },
    {
        "id": "68f3a98b447aecca",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Treshold_value",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 1,
        "width": 8,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "5eabf9c9.9a8ff8"
            ]
        ]
    },
    {
        "id": "4e623e0ee9e9a3da",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 960,
        "wires": [
            [
                "1357d1d38c7d9e3b"
            ]
        ]
    },
    {
        "id": "5eb79632ce55f723",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 960,
        "wires": []
    },
    {
        "id": "1357d1d38c7d9e3b",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.156/update-recovertime ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 960,
        "wires": [
            [
                "5eb79632ce55f723"
            ]
        ]
    },
    {
        "id": "7b05197b190c7554",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "recover_time ",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 2,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "4e623e0ee9e9a3da"
            ]
        ]
    },
    {
        "id": "4cde3c7f327dd1d6",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1200,
        "wires": [
            [
                "cc6596c436ed98b2"
            ]
        ]
    },
    {
        "id": "a6470514f35f8543",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1200,
        "wires": []
    },
    {
        "id": "cc6596c436ed98b2",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-obstleftt ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 1200,
        "wires": [
            [
                "a6470514f35f8543"
            ]
        ]
    },
    {
        "id": "563d273b4f82b133",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Obst_left_t ",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 4,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "4cde3c7f327dd1d6"
            ]
        ]
    },
    {
        "id": "603316c7050e935c",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1440,
        "wires": [
            [
                "0b0dfb34cfb8eeb1"
            ]
        ]
    },
    {
        "id": "d106f4e382d0bfaa",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1440,
        "wires": []
    },
    {
        "id": "0b0dfb34cfb8eeb1",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-obststraightt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 1440,
        "wires": [
            [
                "d106f4e382d0bfaa"
            ]
        ]
    },
    {
        "id": "722f83809e1094ba",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Obst_straight_t",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 3,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1440,
        "wires": [
            [
                "603316c7050e935c"
            ]
        ]
    },
    {
        "id": "87b333e17330640b",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1680,
        "wires": [
            [
                "3b35a72ce9856ab6"
            ]
        ]
    },
    {
        "id": "02abe6b291e96060",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 1680,
        "wires": []
    },
    {
        "id": "3b35a72ce9856ab6",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-obstrightt ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 1680,
        "wires": [
            [
                "02abe6b291e96060"
            ]
        ]
    },
    {
        "id": "9acaa6054cb86246",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Obst_right_t ",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 5,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1680,
        "wires": [
            [
                "87b333e17330640b"
            ]
        ]
    },
    {
        "id": "04cef22a2a448ee9",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1900,
        "wires": [
            [
                "6e7b876cefd6aee8"
            ]
        ]
    },
    {
        "id": "577120dc16374422",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1900,
        "wires": []
    },
    {
        "id": "6e7b876cefd6aee8",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-linewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 1900,
        "wires": [
            [
                "577120dc16374422"
            ]
        ]
    },
    {
        "id": "ba1a183912f1d059",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Line_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 6,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 90,
        "y": 1900,
        "wires": [
            [
                "04cef22a2a448ee9"
            ]
        ]
    },
    {
        "id": "56a952e5dc508582",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2140,
        "wires": [
            [
                "11a4c83b60d442c7"
            ]
        ]
    },
    {
        "id": "c6fa173927667887",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 2140,
        "wires": []
    },
    {
        "id": "11a4c83b60d442c7",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-finlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 2140,
        "wires": [
            [
                "c6fa173927667887"
            ]
        ]
    },
    {
        "id": "8fd5c77d04a5eba6",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Fin_line_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 7,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 2140,
        "wires": [
            [
                "56a952e5dc508582"
            ]
        ]
    },
    {
        "id": "dccd89cf2e5e3428",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2380,
        "wires": [
            [
                "4c7a1021e8133bce"
            ]
        ]
    },
    {
        "id": "0917842f63b54162",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 2380,
        "wires": []
    },
    {
        "id": "4c7a1021e8133bce",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-currentlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 2380,
        "wires": [
            [
                "0917842f63b54162"
            ]
        ]
    },
    {
        "id": "1abdee5559470f83",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "current_line_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 8,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 2380,
        "wires": [
            [
                "dccd89cf2e5e3428"
            ]
        ]
    },
    {
        "id": "a0be68551b95cc97",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2620,
        "wires": [
            [
                "793a49643f02f45d"
            ]
        ]
    },
    {
        "id": "84b1ca7ce724abc1",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 2620,
        "wires": []
    },
    {
        "id": "793a49643f02f45d",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.156/update-currentfinlinewidth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 2620,
        "wires": [
            [
                "84b1ca7ce724abc1"
            ]
        ]
    },
    {
        "id": "e1e1c1e393f0f1a5",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "Current_finline_width",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 9,
        "width": 4,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 100,
        "y": 2620,
        "wires": [
            [
                "a0be68551b95cc97"
            ]
        ]
    },
    {
        "id": "0fe4f217a23c8bd1",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 740,
        "wires": [
            [
                "e1479089469fe18c"
            ]
        ]
    },
    {
        "id": "8070bb18a3a25671",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "e1479089469fe18c",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.43/update-gain",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 740,
        "wires": [
            [
                "8070bb18a3a25671"
            ]
        ]
    },
    {
        "id": "f1f4f5fdc04eb2c5",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "gain_value",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 1,
        "width": 8,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "0fe4f217a23c8bd1"
            ]
        ]
    },
    {
        "id": "65199a450d0afa6b",
        "type": "function",
        "z": "e11b66b88e7c1c1a",
        "name": "Extract the new value",
        "func": "var newValue = msg.payload; \nmsg.payload = { value: newValue }; \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 820,
        "wires": [
            [
                "e75b0139eda5759f"
            ]
        ]
    },
    {
        "id": "8322d9407834b317",
        "type": "debug",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 820,
        "wires": []
    },
    {
        "id": "e75b0139eda5759f",
        "type": "http request",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.0.43/update-exposure",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 820,
        "wires": [
            [
                "8322d9407834b317"
            ]
        ]
    },
    {
        "id": "052f1e400dbf2b03",
        "type": "ui_text_input",
        "z": "e11b66b88e7c1c1a",
        "name": "",
        "label": "exposure_value",
        "tooltip": "",
        "group": "5bd151deb14bfdab",
        "order": 1,
        "width": 8,
        "height": 4,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "65199a450d0afa6b"
            ]
        ]
    },
    {
        "id": "4ca0c1cf9c2d2102",
        "type": "ui_button",
        "z": "694fb32518b8351e",
        "name": "",
        "group": "8478555ca06fa3e9",
        "order": 1,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"on\", \"timeout\": 300 }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "1e06b8562b236a6f"
            ]
        ]
    },
    {
        "id": "1e06b8562b236a6f",
        "type": "mytimeout",
        "z": "694fb32518b8351e",
        "name": "5 Minuten Timer",
        "outtopic": "",
        "outsafe": "",
        "outwarning": "Warnung",
        "outunsafe": "Zeit abgelaufen",
        "warning": "5",
        "timer": "10",
        "debug": false,
        "ndebug": false,
        "ignoreCase": false,
        "repeat": false,
        "again": false,
        "x": 380,
        "y": 300,
        "wires": [
            [],
            [
                "54267518d90c2ad5"
            ]
        ]
    },
    {
        "id": "54267518d90c2ad5",
        "type": "function",
        "z": "694fb32518b8351e",
        "name": "Sekunden zu Minuten",
        "func": "var minuten = msg.payload;\nmsg.payload=minuten;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "bf022109ca685e5e"
            ]
        ]
    },
    {
        "id": "918c858dd7e7a9e8",
        "type": "comment",
        "z": "694fb32518b8351e",
        "name": "Countdown Timer",
        "info": "",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "bf022109ca685e5e",
        "type": "ui_gauge",
        "z": "694fb32518b8351e",
        "name": "",
        "group": "8478555ca06fa3e9",
        "order": 2,
        "width": 3,
        "height": 4,
        "gtype": "donut",
        "title": "Countdown",
        "label": "Sekunden",
        "format": "{{value}}",
        "min": "0",
        "max": "300",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "2ac137aef1eb8a95",
        "type": "ui_button",
        "z": "694fb32518b8351e",
        "name": "",
        "group": "8478555ca06fa3e9",
        "order": 3,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-clock-o",
        "payload": "{ \"payload\": \"stop\" }",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "1e06b8562b236a6f"
            ]
        ]
    },
    {
        "id": "5f6da8b8f40a36a9",
        "type": "http request",
        "z": "f90472f2bdbcca1d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.156/Start",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "867a7147aeca588d"
            ]
        ]
    },
    {
        "id": "c663394e3def9a6b",
        "type": "ui_button",
        "z": "f90472f2bdbcca1d",
        "name": "",
        "group": "60b9c858.a9ecdc",
        "order": 1,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "5f6da8b8f40a36a9"
            ]
        ]
    },
    {
        "id": "867a7147aeca588d",
        "type": "debug",
        "z": "f90472f2bdbcca1d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "2b9a7140bfe76490",
        "type": "http request",
        "z": "f90472f2bdbcca1d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.156/Stop",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 340,
        "wires": [
            [
                "a48dbc5240b41bfd"
            ]
        ]
    },
    {
        "id": "9f54029ac33ce789",
        "type": "ui_button",
        "z": "f90472f2bdbcca1d",
        "name": "",
        "group": "60b9c858.a9ecdc",
        "order": 3,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "2b9a7140bfe76490"
            ]
        ]
    },
    {
        "id": "a48dbc5240b41bfd",
        "type": "debug",
        "z": "f90472f2bdbcca1d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "3ab3e273.a8b15a",
        "type": "http request",
        "z": "fb81dc8b2600dc96",
        "name": "Get Status",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.43/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "77b0f31b.75f33",
                "ec5ac557e6a22813"
            ]
        ]
    },
    {
        "id": "77b0f31b.75f33",
        "type": "ui_text",
        "z": "fb81dc8b2600dc96",
        "group": "60b9c858.a9ecdc",
        "order": 2,
        "width": 3,
        "height": 4,
        "name": "",
        "label": "State",
        "format": "{{payload}}",
        "layout": "col-center",
        "className": "",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "ec5ac557e6a22813",
        "type": "debug",
        "z": "fb81dc8b2600dc96",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "52f5654b92a14604",
        "type": "inject",
        "z": "fb81dc8b2600dc96",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "3ab3e273.a8b15a"
            ]
        ]
    },
    {
        "id": "f24e193eeab643d5",
        "type": "http request",
        "z": "afe2bcd9a89f69ee",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.43/Start_image",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 505.08331298828125,
        "y": 360.0833435058594,
        "wires": [
            [
                "4abed5f7224c282e"
            ]
        ]
    },
    {
        "id": "d0a0f6521b40b7ae",
        "type": "ui_button",
        "z": "afe2bcd9a89f69ee",
        "name": "",
        "group": "7ef72d236a7aa62c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Bild an",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 165.08331298828125,
        "y": 360.0833435058594,
        "wires": [
            [
                "f24e193eeab643d5"
            ]
        ]
    },
    {
        "id": "4abed5f7224c282e",
        "type": "debug",
        "z": "afe2bcd9a89f69ee",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 835.0833129882812,
        "y": 360.0833435058594,
        "wires": []
    },
    {
        "id": "b454df88539887d4",
        "type": "http request",
        "z": "afe2bcd9a89f69ee",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.10.7/Stop_Image",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "0b34abce9c0ddb90",
        "type": "ui_button",
        "z": "afe2bcd9a89f69ee",
        "name": "",
        "group": "7ef72d236a7aa62c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Bild aus",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "H",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "b454df88539887d4"
            ]
        ]
    }
]